* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(183, 207, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  width: 700px;
  height: 150px;
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
  color: rgb(94, 71, 115);
  position:absolute;
  top: 0;
}

.tabela{
  border-color: black;
  border: 10px;
}